= simple_form_for @<%= singular_table_name %>, html: { class: 'custom' } do |form|
  = f.error_notification

  .form-inputs
  <%- attributes.each do |attribute| -%>
    = form.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  .form-actions
    = f.button :submit
